body {
	margin: 0px;
	padding-top: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	color: black;
}

.headfoot {
	background-color: black;
	color: #ffd700;
	margin-top: 0px;
	margin-bottom: 0px;
	min-height: 155px;
	padding: 1px;
	padding-left: 30px;
}

#main {
	padding: 2em;
	min-height: 385px;
}

#buff {
	max-height: 128px;
	max-width: 175px;
	margin-top: 0px;
	position: relative;
	top: -30px;
	margin: 10px;
	margin-right: 20px;
	float: left;
}

#w3c {
	margin-top: 15px;
}

form {
	margin: 20px;
}

p {
	margin: 0px;
	padding: 0px;
	display: inline;
}